/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 21, 2017, 1:02:20 AM
    Author     : hp
*/



body {
    background-image: url("images/srt.jpg");
    background-color: #cccccc;
}

